body {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background-color: #f7f7f7;
}
h1 {
  font-size: 2rem;
  font-weight: bold;
  color: rgb(2, 2, 2);
  position: absolute;
  top: 1rem;
  left: 50%;
  transform: translateX(-50%); /* Center the heading horizontally */
  letter-spacing: 0.1em;
}
.circle {
  position: absolute;
  top: 25%;
  left: 10%;
  width: 200px;
  height: 200px;
  background-color: #101111;
  border-radius: 50%;
  transition: 0.4s ease-in-out;
}
.circle:hover {
  background-color: #3706e6;
  transform: scale(0.5);
  transition: transform 0.4s ease-in-out;
}

.square {
  position: absolute;
  top: 25%;
  left: 30%;
  width: 200px;
  height: 200px;
  background-color: #101111;
  transition: 0.4s ease-in-out;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}
.square:hover {
  background-color: #d11313;
  transform: scale(1.1);
  transition:
    background-color 0.4s ease-in-out,
    transform 0.4s ease-in-out;
}

.rectangle {
  position: absolute;
  top: 28%;
  left: 50%;
  width: 300px;
  height: 150px;
  background-color: #101111;
  transition: 0.4s ease-in-out;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}
.rectangle:hover {
  background-color: #06b9e6;
  rotate: 180deg;
  transition:
    background-color 0.4s ease-in-out,
    rotate 0.4s ease-in-out;
}

.hexagon {
  position: absolute;
  top: 30%;
  left: 72%;
  width: 120px;
  height: 115px; /* Height of a regular hexagon with a width of 200px */
  background-color: #101111;
  clip-path: polygon(25% 0%, 75% 0%, 100% 50%, 75% 100%, 25% 100%, 0% 50%);
  transition: 0.4s ease-in-out;
}
.hexagon:hover {
  background-color: #136111;
  rotate: -180deg;
  transition:
    background-color 0.4s ease-in-out,
    rotate 0.4s ease-in-out;
}

.triangle {
  background-color: #101111;
  position: absolute;
  bottom: 25%;
  left: 10%;
  width: 100px;
  height: 180px;
  clip-path: polygon(0% 200%, 200% 200%, 100% 0%);
  transition: 0.4s ease-in-out;
}
.triangle:hover {
  clip-path: polygon(0% 100%, 100% 100%, 50% 0%);
  background-color: #bdf005;
  transition: 0.4s ease-in-out;
}

.trapizod {
  background-color: #101111;
  position: absolute;
  bottom: 25%;
  left: 30%;
  width: 200px;
  height: 150px;
  clip-path: polygon(20% 0%, 80% 0%, 100% 100%, 0% 100%);
  transition: 0.4s ease-in-out;
}
.trapizod:hover {
  clip-path: polygon(0% 0%, 100% 0%, 100% 100%, 0% 100%);
  background-color: #05f011;
  transition: 0.4s ease-in-out;
}

.diamond {
  background-color: #101111;
  position: absolute;
  bottom: 25%;
  left: 55%;
  width: 150px;
  height: 150px;
  clip-path: polygon(50% 0%, 100% 50%, 50% 100%, 0% 50%);
  transition: 0.4s ease-in-out;
}
.diamond:hover {
  clip-path: polygon(0% 50%, 50% 100%, 100% 50%, 50% 0%);
  background-color: #f00573;
  transition: 0.4s ease-in-out;
}

.polygon {
  background-color: #101111;
  position: absolute;
  bottom: 28%;
  left: 72%;
  width: 150px;
  height: 150px;
  clip-path: polygon(50% 0%, 100% 38.2%, 81.8% 100%, 18.2% 100%, 0% 38.2%);
  transition: 0.4s ease-in-out;
}

.polygon:hover {
  clip-path: polygon(25% 0%, 75% 0%, 100% 50%, 75% 100%, 25% 100%, 0% 50%);
  transition: 0.4s ease-in-out;
}
